In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1516,tt0443489,70000000,154937680,Dreamgirls,Jamie Foxx|BeyoncÃ© Knowles|Eddie Murphy|Danny...,Bill Condon,One Dream Will Change Everything,"Three young women â€“ Deena Jones, Effie White...",134,Drama,Paramount Pictures|DreamWorks SKG|Laurence Mar...,12/25/2006,6.5,2006
707,tt0947802,20000000,27640028,Lakeview Terrace,Samuel L. Jackson|Patrick Wilson|Kerry Washing...,Neil LaBute,What Could Be Safer Than Living Next to a Cop?,A young interracial couple has just moved into...,110,Drama|Crime|Thriller,Screen Gems|Overbrook Entertainment,9/19/2008,5.8,2008
233,tt3014666,5000000,10429707,Moms' Night Out,Sarah Drew|Sean Astin|Patricia Heaton|Logan Wh...,Andrew Erwin|Jon Erwin,What could go wrong?,"Yearning for an evening without their kids, so...",98,Comedy,TriStar Pictures|Provident Films|Pure Flix Ent...,3/25/2014,5.7,2014
132,tt1877832,250000000,746000000,X-Men: Days of Future Past,Hugh Jackman|James McAvoy|Patrick Stewart|Mich...,Bryan Singer,"To save the future, they must alter the past",The ultimate X-Men ensemble fights a war for t...,131,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,5/15/2014,7.6,2014
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,6.6,2007

In [3]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
from datetime import datetime
data['release_date'] = data['release_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').date())

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [ ]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [6]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [7]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '110'

In [8]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '107'

In [9]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[['runtime']].median()

runtime    107.0
dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6']='Avatar (tt0499549)'

In [10]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[data.revenue == data.revenue.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7']='The Lone Ranger'

In [11]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.sort_values(by = 'profit', ascending = True)['original_title'].iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8']='1478'

In [12]:

import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[data.revenue>data.budget]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9']='The Dark Knight (tt0468569)'

In [13]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[(data.revenue) & (data.release_year == 2008)][['revenue', 'original_title']].sort_values(by='revenue', ascending=False).iloc[0]

revenue                1001921825
original_title    The Dark Knight
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10']='The Lone Ranger'

In [15]:
data['profit'] = data['revenue'] - data['budget']
data.query('2012<release_year<2014').sort_values(by = 'profit', ascending = True)['original_title'].iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11']='Drama'

In [22]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
Counter(data['genres'].str.cat(sep = '|').split('|')).most_common()[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12']='Drama'

In [23]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data['genres']=pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]
display(data['genres'])

0       Drama
1       Drama
2       Drama
3       Drama
4       Drama
        ...
1884    Drama
1885    Drama
1886    Drama
1887    Drama
1888    Drama
Name: genres, Length: 1889, dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13']='Steven Spielberg'

In [24]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
pd.Series(data[data.profit > data.profit.mean()].director.str.split('|').sum()).value_counts().index[0]

'Steven Spielberg'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14']='Robert Rodriguez'

In [25]:
data = pd.read_csv('movie_bd_v5.csv')
data_action= data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts().index[0]
display(data_action)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15']='Chris Hemsworth'

In [26]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data[data.release_year==2012].groupby(['cast'])['revenue'].max().sort_values(ascending=False)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
                                                                                    ...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins                 8106475
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton         6063556
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent                  4636169
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist                  3428048
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston                      2106557
Name: revenue, Length: 111, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16']='Matt Damon'

In [27]:
import pandas as pd 
data = pd.read_csv('movie_bd_v5.csv')
data_actor=pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
display(data_actor)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17']='Action'

In [28]:
data = pd.read_csv('movie_bd_v5.csv')
data_action= data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts().index[0]
display(data_action)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18']='K-19: The Widowmaker'

In [29]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[data.production_companies.str.contains('Paramount Pictures')][['profit','original_title']].sort_values(by = 'profit').iloc[0,1]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19']='2015'

In [30]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data.groupby('release_year')['profit'].sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20']='2014'

In [31]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21']='Сентябрь (9-месяц)'

In [36]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
from datetime import datetime
data['release_date'] = data['release_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').date())
temp_data = data.copy()
temp_data['release_month'] = temp_data['release_date'].apply(lambda x:x.month)
temp_data.groupby('release_month')['original_title'].count().sort_values(ascending = False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22']='450'

In [38]:
from datetime import datetime
temp_data.query('release_month in [6,7,8]')['imdb_id'].nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23']='Peter Jackson'

In [39]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data[['month','day','year']] = data.release_date.str.split('/', expand=True)
data[data['month'].isin(['12','1','2'])].director.str.split('|').value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['23']='Four By Two Productions'

In [40]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['original_title_len'] = data['original_title'].apply( lambda x: len(x) )
data[ data['original_title_len'] == data['original_title_len'].max() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,original_title_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
temp_data = data.copy()
temp_data['production_companies'] = temp_data['production_companies'].apply(lambda x: x.split('|'))
temp_data['len_overview'] = temp_data['overview'].apply(lambda x: len(x.split(' ')))
temp_data.explode('production_companies').groupby('production_companies')['len_overview'].mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27']='Daniel Radcliffe', 'Rupert Grint'

In [42]:
from itertools import combinations
cast = data['cast'].apply(lambda x: list(combinations(x.split('|'), 2)))
cast.explode().value_counts().index[0]

('Daniel Radcliffe', 'Emma Watson')

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)