In [1]:
from collections import Counter
import pandas as pd
import re
import datetime

In [2]:
df = pd.read_csv('main_task.xls')

In [3]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [5]:
df.dtypes

Restaurant_id         object
City                  object
Cuisine Style         object
Ranking              float64
Rating               float64
Price Range           object
Number of Reviews    float64
Reviews               object
URL_TA                object
ID_TA                 object
dtype: object

In [6]:
def price_range(x):
    if x == "$$ - $$$":
        return 100
    elif x == "$$$$":
        return 1000
    elif x == "$":
        return 1
    else:
        return None

In [7]:
for column in df.columns:
     print(type(df[column].iloc[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'str'>
<class 'str'>

In [8]:
def data_d(dataframe):
    for column in dataframe.columns:
        try:
            float(dataframe[column][0])
        except Exception as ex:
            print(ex)
            dataframe.drop([column], axis=1, inplace=True)
    return dataframe

In [9]:
df['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [10]:
df['Price Range'] = df['Price Range'].apply(price_range)
prices = pd.get_dummies(df['Price Range'])
df = df.drop('Price Range', axis=1)
df = df.join(prices)

In [11]:
cities = pd.get_dummies(df.City)
df = df.drop('City', axis=1)
df = df.join(cities)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   Cuisine Style      30717 non-null  object
 2   Ranking            40000 non-null  float64
 3   Rating             40000 non-null  float64
 4   Number of Reviews  37457 non-null  float64
 5   Reviews            40000 non-null  object
 6   URL_TA             40000 non-null  object
 7   ID_TA              40000 non-null  object
 8   1.0                40000 non-null  uint8
 9   100.0              40000 non-null  uint8
 10  1000.0             40000 non-null  uint8
 11  Amsterdam          40000 non-null  uint8
 12  Athens             40000 non-null  uint8
 13  Barcelona          40000 non-null  uint8
 14  Berlin             40000 non-null  uint8
 15  Bratislava         40000 non-null  uint8
 16  Brussels           40000 non-null  uint8
 17  Budapest           40000 non-null  uint8
 18  Copenhagen         40000 non-null  uint8
 19  Dublin             40000 non-null  uint8
 20  Edinburgh          40000 non-null  uint8
 21  Geneva             40000 non-null  uint8
 22  Hamburg            40000 non-null  uint8
 23  Helsinki           40000 non-null  uint8
 24  Krakow             40000 non-null  uint8
 25  Lisbon             40000 non-null  uint8
 26  Ljubljana          40000 non-null  uint8
 27  London             40000 non-null  uint8
 28  Luxembourg         40000 non-null  uint8
 29  Lyon               40000 non-null  uint8
 30  Madrid             40000 non-null  uint8
 31  Milan              40000 non-null  uint8
 32  Munich             40000 non-null  uint8
 33  Oporto             40000 non-null  uint8
 34  Oslo               40000 non-null  uint8
 35  Paris              40000 non-null  uint8
 36  Prague             40000 non-null  uint8
 37  Rome               40000 non-null  uint8
 38  Stockholm          40000 non-null  uint8
 39  Vienna             40000 non-null  uint8
 40  Warsaw             40000 non-null  uint8
 41  Zurich             40000 non-null  uint8
dtypes: float64(3), object(5), uint8(34)
memory usage: 3.7+ MB

In [12]:
pattern = re.compile('\d+/\d+/\d+')
df['date_of_Review'] = df['Reviews'].apply(lambda x: re.findall(pattern, x))
df['data_2'] = df['date_of_Review'].apply(lambda x: pd.to_datetime(x).max())
df['data_1'] = df['date_of_Review'].apply(lambda x: pd.to_datetime(x).min())

In [13]:
print(df.data_2.max())
df["date_diff"] = df.data_2 - df.data_1
df["date_diff"] = df.date_diff.apply(lambda x: float(x.days))
print(df.date_diff.max())

2018-02-26 00:00:00
3207.0

In [14]:
cuisine = Counter()
cuisines = set()
cuisines_variance = []
pattern = re.compile("[a-zA-Z]+\s*[a-zA-Z]*\s*[a-zA-Z]*\s*[a-zA-Z]*\s*[a-zA-Z]*\s*[a-zA-Z]*\s*[a-zA-Z]*")
test = []
for x in df['Cuisine Style']:
    try:
        test_d = re.findall(pattern, x)
        for w in test_d:
            cuisines.add(w)
        test.append(test_d)
    except:
        test.append(['pass'])
        pass
print(test[0])
for cell in test:
    try:
        cuisines_variance.append(len(cell))
        for i in cell:
            cuisine[i] += 1
    except:
        cuisines_variance.append(1)
        pass
df["cuisine_variance"] = cuisines_variance
print(sorted(cuisines))
print(len(cuisines))
print(cuisine.most_common(1))
print(sum(cuisines_variance)/len(cuisines_variance))

['European', 'French', 'International']
['Afghani', 'African', 'Albanian', 'American', 'Arabic', 'Argentinean', 'Armenian', 'Asian', 'Australian', 'Austrian', 'Azerbaijani', 'Balti', 'Bangladeshi', 'Bar', 'Barbecue', 'Belgian', 'Brazilian', 'Brew Pub', 'British', 'Burmese', 'Cafe', 'Cajun ', 'Cambodian', 'Canadian', 'Caribbean', 'Caucasian', 'Central American', 'Central Asian', 'Central European', 'Chilean', 'Chinese', 'Colombian', 'Contemporary', 'Creole', 'Croatian', 'Cuban', 'Czech', 'Danish', 'Delicatessen', 'Diner', 'Dutch', 'Eastern European', 'Ecuadorean', 'Egyptian', 'Ethiopian', 'European', 'Fast Food', 'Filipino', 'French', 'Fujian', 'Fusion', 'Gastropub', 'Georgian', 'German', 'Gluten Free Options', 'Greek', 'Grill', 'Halal', 'Hawaiian', 'Healthy', 'Hungarian', 'Indian', 'Indonesian', 'International', 'Irish', 'Israeli', 'Italian', 'Jamaican', 'Japanese', 'Korean', 'Kosher', 'Latin', 'Latvian', 'Lebanese', 'Malaysian', 'Mediterranean', 'Mexican', 'Middle Eastern', 'Minority Chinese', 'Mongolian', 'Moroccan', 'Native American', 'Nepali', 'New Zealand', 'Norwegian', 'Pakistani', 'Persian', 'Peruvian', 'Pizza', 'Polish', 'Polynesian', 'Portuguese', 'Pub', 'Romanian', 'Russian', 'Salvadoran', 'Scandinavian', 'Scottish', 'Seafood', 'Singaporean', 'Slovenian', 'Soups', 'South American', 'Southwestern', 'Spanish', 'Sri Lankan', 'Steakhouse', 'Street Food', 'Sushi', 'Swedish', 'Swiss', 'Taiwanese', 'Thai', 'Tibetan', 'Tunisian', 'Turkish', 'Ukrainian', 'Uzbek', 'Vegan Options', 'Vegetarian Friendly', 'Venezuelan', 'Vietnamese', 'Welsh', 'Wine Bar', 'Xinjiang', 'Yunnan']
126
[('Vegetarian Friendly', 11189)]
2.6229

In [15]:
df = data_d(df)
df.info()

could not convert string to float: 'id_5569'
could not convert string to float: "['European', 'French', 'International']"
could not convert string to float: "[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]"
could not convert string to float: '/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html'
could not convert string to float: 'd1912643'
float() argument must be a string or a number, not 'list'
float() argument must be a string or a number, not 'Timestamp'
float() argument must be a string or a number, not 'Timestamp'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Rating             40000 non-null  float64
 2   Number of Reviews  37457 non-null  float64
 3   1.0                40000 non-null  uint8
 4   100.0              40000 non-null  uint8
 5   1000.0             40000 non-null  uint8
 6   Amsterdam          40000 non-null  uint8
 7   Athens             40000 non-null  uint8
 8   Barcelona          40000 non-null  uint8
 9   Berlin             40000 non-null  uint8
 10  Bratislava         40000 non-null  uint8
 11  Brussels           40000 non-null  uint8
 12  Budapest           40000 non-null  uint8
 13  Copenhagen         40000 non-null  uint8
 14  Dublin             40000 non-null  uint8
 15  Edinburgh          40000 non-null  uint8
 16  Geneva             40000 non-null  uint8
 17  Hamburg            40000 non-null  uint8
 18  Helsinki           40000 non-null  uint8
 19  Krakow             40000 non-null  uint8
 20  Lisbon             40000 non-null  uint8
 21  Ljubljana          40000 non-null  uint8
 22  London             40000 non-null  uint8
 23  Luxembourg         40000 non-null  uint8
 24  Lyon               40000 non-null  uint8
 25  Madrid             40000 non-null  uint8
 26  Milan              40000 non-null  uint8
 27  Munich             40000 non-null  uint8
 28  Oporto             40000 non-null  uint8
 29  Oslo               40000 non-null  uint8
 30  Paris              40000 non-null  uint8
 31  Prague             40000 non-null  uint8
 32  Rome               40000 non-null  uint8
 33  Stockholm          40000 non-null  uint8
 34  Vienna             40000 non-null  uint8
 35  Warsaw             40000 non-null  uint8
 36  Zurich             40000 non-null  uint8
 37  date_diff          33529 non-null  float64
 38  cuisine_variance   40000 non-null  int64
dtypes: float64(4), int64(1), uint8(34)
memory usage: 2.8 MB

In [16]:
df.fillna(df['Number of Reviews'].min(), inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Rating             40000 non-null  float64
 2   Number of Reviews  40000 non-null  float64
 3   1.0                40000 non-null  uint8
 4   100.0              40000 non-null  uint8
 5   1000.0             40000 non-null  uint8
 6   Amsterdam          40000 non-null  uint8
 7   Athens             40000 non-null  uint8
 8   Barcelona          40000 non-null  uint8
 9   Berlin             40000 non-null  uint8
 10  Bratislava         40000 non-null  uint8
 11  Brussels           40000 non-null  uint8
 12  Budapest           40000 non-null  uint8
 13  Copenhagen         40000 non-null  uint8
 14  Dublin             40000 non-null  uint8
 15  Edinburgh          40000 non-null  uint8
 16  Geneva             40000 non-null  uint8
 17  Hamburg            40000 non-null  uint8
 18  Helsinki           40000 non-null  uint8
 19  Krakow             40000 non-null  uint8
 20  Lisbon             40000 non-null  uint8
 21  Ljubljana          40000 non-null  uint8
 22  London             40000 non-null  uint8
 23  Luxembourg         40000 non-null  uint8
 24  Lyon               40000 non-null  uint8
 25  Madrid             40000 non-null  uint8
 26  Milan              40000 non-null  uint8
 27  Munich             40000 non-null  uint8
 28  Oporto             40000 non-null  uint8
 29  Oslo               40000 non-null  uint8
 30  Paris              40000 non-null  uint8
 31  Prague             40000 non-null  uint8
 32  Rome               40000 non-null  uint8
 33  Stockholm          40000 non-null  uint8
 34  Vienna             40000 non-null  uint8
 35  Warsaw             40000 non-null  uint8
 36  Zurich             40000 non-null  uint8
 37  date_diff          40000 non-null  float64
 38  cuisine_variance   40000 non-null  int64
dtypes: float64(4), int64(1), uint8(34)
memory usage: 2.8 MB

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [18]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Rating'], axis = 1)
y = df['Rating']

In [19]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [20]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Cоздаём, обучаем и тестируем модель

In [21]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [22]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [23]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.21242349999999996