In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
319,tt1186367,40000000,60462347,Ninja Assassin,Rain|Naomie Harris|Sung Kang|Randall Duk Kim|R...,James McTeigue,"Fear not the weapon, but the hand that wields it.","Ninja Assassin follows Raizo (Rain), one of th...",99,Action|Crime|Thriller,Studio Babelsberg|Anarchos Productions|Legenda...,9/29/2009,6.1,2009
1259,tt1814621,13000000,18000000,Admission,Tina Fey|Paul Rudd|Ann Harada|Ben Levin|Dan Levy,Paul Weitz,Let someone in.,Strait-laced Princeton University admissions o...,107,Comedy|Drama|Romance,Focus Features,3/21/2013,5.4,2013
231,tt1929263,12000000,101332962,Heaven is for Real,Greg Kinnear|Kelly Reilly|Connor Corum|Thomas ...,Randall Wallace,Unlock the mystery,Heaven is for Real recounts the true story of ...,99,Drama,TriStar Pictures|Screen Gems|Roth Films,4/16/2014,6.1,2014
1372,tt0404032,19000000,144216468,The Exorcism of Emily Rose,Laura Linney|Tom Wilkinson|Campbell Scott|Jenn...,Scott Derrickson,What happened to Emily?,When a younger girl called Emily Rose (Carpent...,122,Crime|Drama|Horror|Thriller,Lakeshore Entertainment|Firm Films|Screen Gems,9/9/2005,6.2,2005
1128,tt0348836,40000000,141591324,Gothika,Halle Berry|Robert Downey Jr.|Charles S. Dutto...,Mathieu Kassovitz,Because someone is dead doesn't mean they're g...,"After a car crash, a criminal psychologist (Ha...",98,Horror|Thriller,Columbia Pictures Corporation|Dark Castle Ente...,11/21/2003,5.8,2003

In [2]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Preprocessing

In [4]:
answers = {} # dictionary for answers

data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
from datetime import datetime
data['release_date'] = data['release_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').date())

# 1. Which movie on the list has the biggest budget?

In [5]:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. The longest movie(in minutes)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [8]:
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. The shortest movie (in minutes)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [10]:
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. What is the average duration of movies?

In [11]:
answers['4'] = '110'

In [12]:
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

# 5. What is the median length of movies?

In [13]:
answers['5'] = '107'

In [14]:
data[['runtime']].median()

runtime    107.0
dtype: float64

# 6. What is the most profitable movie?
(profit = revenue - budget)

In [15]:
answers['6']='Avatar (tt0499549)'

In [16]:
data[data.revenue == data.revenue.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7.What is the most unprofitable movie?

In [17]:
answers['7']='The Lone Ranger'

In [18]:
data['profit'] = data['revenue'] - data['budget']
data.sort_values(by = 'profit', ascending = True)['original_title'].iloc[0]

'The Lone Ranger'

# 8. How many films from the dataset had the volume of profit higher than the budget?

In [19]:
answers['8']='1478'

In [20]:
data[data.revenue>data.budget]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,2000-04-14,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,2000-07-07,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,2000-04-21,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,2000-04-07,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,2000-07-13,6.6,2000,82299717

# 9. Which movie was the highest-grossing in 2008?

In [21]:
answers['9']='The Dark Knight (tt0468569)'

In [22]:
data[(data.revenue) & (data.release_year == 2008)][['revenue', 'original_title']].sort_values(by='revenue', ascending=False).iloc[0]

revenue                1001921825
original_title    The Dark Knight
Name: 599, dtype: object

# 10. The most unprofitable film for the period from 2012 to 2014 (inclusive)?

In [23]:
answers['10']='The Lone Ranger'

In [24]:
data['profit'] = data['revenue'] - data['budget']
data.query('2012<release_year<2014').sort_values(by = 'profit', ascending = True)['original_title'].iloc[0]

'The Lone Ranger'

# 11. Which genre of films is the most common?

In [25]:
answers['11']='Drama'

In [26]:
Counter(data['genres'].str.cat(sep = '|').split('|')).most_common()[0][0]

'Drama'

# 12. What genre of films most often become profitable?

In [27]:
answers['12']='Drama'

In [28]:
data['profit'] = data.revenue - data.budget
data['genres']=pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]
display(data['genres'])

0       Drama
1       Drama
2       Drama
3       Drama
4       Drama
        ...
1884    Drama
1885    Drama
1886    Drama
1887    Drama
1888    Drama
Name: genres, Length: 1889, dtype: object

# 13. The most succesful director:

In [29]:
answers['13']='Steven Spielberg'

In [30]:
data['profit'] = data['revenue'] - data['budget']
pd.Series(data[data.profit > data.profit.mean()].director.str.split('|').sum()).value_counts().index[0]

'Steven Spielberg'

# 14. Which director has shot the most Action-style films?

In [31]:
answers['14']='Robert Rodriguez'

In [ ]:
data_action= data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts().index[0]
display(data_action)

# 15. Films with which actor brought the profit in 2012?

In [ ]:
answers['15']='Chris Hemsworth'

In [33]:
data[data.release_year==2012].groupby(['cast'])['revenue'].max().sort_values(ascending=False)

cast
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson    1519557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris                1108561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy                 1081041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett          1017003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott             877244782
                                                                                    ...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins                 8106475
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton         6063556
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent                  4636169
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist                  3428048
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston                      2106557
Name: revenue, Length: 111, dtype: int64

# 16. Which actor has starred in a large number of high-budget films?

In [34]:
answers['16']='Matt Damon'

In [35]:
data_actor=pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
display(data_actor)

'Matt Damon'

# 17. What genre of films did Nicolas Cage shot in the most?

In [36]:
answers['17']='Drama'

In [37]:
data_action= data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts().index[0]
display(data_action)

'Drama'

# 18. The most unprofitable film from Paramount Pictures:

In [38]:
answers['18']='K-19: The Widowmaker'

In [39]:
data['profit'] = data['revenue'] - data['budget']
data[data.production_companies.str.contains('Paramount Pictures')][['profit','original_title']].sort_values(by = 'profit').iloc[0,1]

'K-19: The Widowmaker'

# 19. Which year was the most successful?

In [40]:
answers['19']='2015'

In [41]:
data['profit'] = data['revenue'] - data['budget']
data.groupby('release_year')['profit'].sum().sort_values(ascending = False).index[0]

2015

# 20. What is the most profitable year for the Warner Bros studio?

In [42]:
answers['20']='2014'

In [43]:
data['profit'] = data['revenue'] - data['budget']
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending = False).index[0]

2014

# 21. In which month for all the years have the most films been released in total?

In [44]:
answers['21']='Сентябрь (9-месяц)'

In [ ]:
from datetime import datetime
data['release_date'] = data['release_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y').date())
temp_data = data.copy()
temp_data['release_month'] = temp_data['release_date'].apply(lambda x:x.month)
temp_data.groupby('release_month')['original_title'].count().sort_values(ascending = False).index[0]

# 22. How many films were released in total in the summer? (for June, July, August)

In [45]:
answers['22']='450'

In [ ]:
from datetime import datetime
temp_data = data.copy()
temp_data.query('release_month in [6,7,8]')['imdb_id'].nunique()

# 23. For which director is winter the most productive time of the year?

In [47]:
answers['23']='Peter Jackson'

In [49]:
data[['month','day','year']] = data.release_date.str.split('/', expand=True)
data[data['month'].isin(['12','1','2'])].director.str.split('|').value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Which studio gives the longest titles to its films by the number of characters?

In [50]:
answers['23']='Four By Two Productions'

In [51]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['original_title_len'] = data['original_title'].apply( lambda x: len(x) )
data[ data['original_title_len'] == data['original_title_len'].max() ]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,original_title_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,83

# 25. Which studio's movie descriptions are the longest on average in terms of the number of words?

In [52]:
temp_data = data.copy()
temp_data['production_companies'] = temp_data['production_companies'].apply(lambda x: x.split('|'))
temp_data['len_overview'] = temp_data['overview'].apply(lambda x: len(x.split(' ')))
temp_data.explode('production_companies').groupby('production_companies')['len_overview'].mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Which actors most often appear in the same movie together?

In [54]:
answers['27']='Daniel Radcliffe', 'Rupert Grint'

In [55]:
from itertools import combinations
cast = data['cast'].apply(lambda x: list(combinations(x.split('|'), 2)))
cast.explode().value_counts().index[0]

('Daniel Radcliffe', 'Rupert Grint')